{% extends 'base.html.twig' %}

{% block page_title %}Détail du produit{% endblock %}

{% block body %}
<table>
    <tread>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
        </tr>
    </tread>
    <tbody>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.size }}</td>
        </tr>
    </tbody>
</table>

<a href="{{path('product_edit',{'id': product.id})}}"> Modifier </a>
<a href="{{path('product_delete',{'id': product.id})}}"> Supprimer </a>

{% endblock %}
